 body{
   background-color: powderblue;
 }
 h1{
   color: #d92027;
 }
 h3{
   color: #d92027;
 }
 hr {
   border-style: dotted none none;
   border-color: grey;
   border-width: 5px;
   width: 50px;
 }
