 body{

background: content-box radial-gradient(#a3f7bf,#ffeadb);
 }
 h1{
   color: #99d8d0;
 }
 h3{
   color: #99d8d0;
 }
 hr {
   border-style: dotted none none;
   border-color: grey;
   border-width: 5px;
   width: 50px;
 }
